body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      background-color:#f2f2f2 ;
      color: black;
    }
    p {
      text-align: justify;
      line-height: 1.5;
    }
	
	li {
      text-align: justify;
      line-height: 1.5;
    }

    /* Set the link color to white */
    a {
      color: blue;
    }

    /* Set the link hover color to a different color, e.g., light gray */
    a:hover {
      color: lightgray;
    }

    /* Set the button background color to white */
    .button {
      background-color: #E5E5E5;
    }

    /* Set the button text color to black */
    .button-text {
      color: black;
    }

    /* Set the arrow icon color to black */
    .right-arrow-icon {
      fill: black;
    }

    /* Style for the hover button */
    .hover-button {
      display: none;
      position: fixed;
      left: 20px; /* Adjust the left position as needed */
      bottom: 20px;
      background-color: #AB9D92 ;
      color: black
      padding: 10px 20px;
      border: black;
      cursor: pointer;
      border-radius: 10px;
      z-index: 9999;
    }

    .hover-button:hover {
      background-color: lightblue;
    }

.nav-title {
  font-weight: 700;
  font-size: 24px;
}

.button-text {
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.main-title {
  font-size: 40px;
  font-weight: 700;
}

.subheader-text {
  font-size: 20px;
  font-weight: 700;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}


/* ... your existing styles ... */

  /* Style for the dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Style for the dropdown button */
  .dropbtn {
    background-color: CadetBlue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  /* Style for the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }

  /* Style for the dropdown options (links) */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown options on hover */
  .dropdown-content a:hover {
    background-color: LightSteelBlue;
  }

  /* Show dropdown content when hovering over dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
